body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  padding: 10px 0;

  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
}

.button:focus,
.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-red {
  background-color: #ee3643;
}

.button-red:focus,
.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
  border-bottom: solid 3px #367315;
}

.button-green:focus,
.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:active {
  background-color: #518534;
  border-color: #518534;
}

.button-border-green {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.button-border-green:focus,
.button-border-green:hover {
  background-color: #ffffff;
  border-color: #32425c;
}

.button-border-green:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border-color: #c1c6ce;
}

.button-white {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.button-white:focus,
.button-white:hover {
  background-color: inherit;
  border-color: #bdc6ca;
}

.button-white:active {
  border-color: #ee3643;
}

.logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo[href]:focus,
.logo[href]:hover {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.main-header {
  padding-bottom: 60px;
  color: #32425c;

  background-color: #f3f7f8;
}

.top-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-navigation .flex-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-navigation .logo {
  padding: 10px 55px 7px;
}

.top-navigation .search-form {
  position: relative;
}

.top-navigation .search-field {
  padding: 12px 12px 11px 49px;
  color: #ffffff;
  width: 270px;
  height: 42px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.icon-search::before {
  content: "";
  position: absolute;

  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background: url("../img/svg/icon-search.svg") no-repeat 0 0;

  opacity: 0.3;
}

.top-navigation .search-field:hover {
  background-color: #212a3a;
}

.search-field:focus + .icon-search::before,
.search-field:hover + .icon-search::before {
  opacity: 1;
}

.top-navigation .search-field:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-field:focus + .icon-search::before {
  background-image: url("../img/svg/icon-search_active.svg");
  opacity: 1;
}

.search-field::-webkit-input-placeholder {
  color: #ffffff;
}

.search-field:-ms-input-placeholder {
  color: #ffffff;
}

.search-field::-ms-input-placeholder {
  color: #ffffff;
}

.search-field::placeholder {
  color: #ffffff;
}

.top-navigation .menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-navigation .link {
  display: block;
  color: #ffffff;
}

.top-navigation .link:focus,
.top-navigation .link:hover {
  background-color: #212a3a;
}

.top-navigation .link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.top-navigation .cart-red {
  background-color: #ee3643;
}

.top-navigation .bookmark {
  position: relative;
  padding: 12px 0 12px 45px;
  width: 105px;
}

.top-navigation .bookmark::before {
  content: "";

  position: absolute;
  left: 17px;

  width: 15px;
  height: 15px;

  background: url("../img/svg/icon-bookmark.svg") no-repeat 0 0;

  opacity: 0.3;
}

.top-navigation .cart {
  position: relative;
  padding: 12px 0 12px 50px;
  width: 100px;
}

.top-navigation .cart::before {
  content: "";

  position: absolute;
  left: 18px;

  width: 15px;
  height: 15px;

  background: url("../img/svg/icon-cart.svg") no-repeat 0 0;

  opacity: 0.3;
}

.top-navigation .bookmark:focus::before,
.top-navigation .bookmark:hover::before,
.top-navigation .cart:focus::before,
.top-navigation .cart:hover::before {
  opacity: 1;
}

.top-navigation .bookmark:active::before,
.top-navigation .cart:active::before {
  opacity: 0.5;
}

.top-navigation .checkout {
  padding: 12px 21px;
  background-color: #63a63e;
}

.top-navigation .checkout:focus,
.top-navigation .checkout:hover {
  background-color: #5fbb2d;
}

.top-navigation .checkout:active {
  background-color: #518534;
}

.about-store {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-store .tagline {
  margin: 0;
  margin-left: 52px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  width: 200px;
}

.about-store .contacts {
  margin-left: 68px;
  width: 272px;
}

.about-store .telephone {
  position: relative;
  margin: 0;
  padding: 7px 20px 7px 40px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;

  border: solid 3px #ffffff;
}

.about-store .telephone::before {
  content: "";

  position: absolute;
  left: 13px;

  width: 19px;
  height: 19px;

  background: url("../img/svg/icon-phone.svg") no-repeat 0 0;

  opacity: 0.3;
}

.about-store .address {
  margin: 0;
  margin-top: 7px;
  font-size: 14px;
  text-align: center;
}

.about-store .user {
  margin-left: 69px;
  width: 282px;
}

.user .navigation {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
}

.navigation .link {
  font-size: 21px;
  line-height: 21px;
  padding: 10px 24px;
  color: #000000;

  background-color: #ffffff;
}

.navigation .link:focus,
.navigation .link:hover {
  color: #ee3643;
}

.navigation .signin {
  margin-left: 7px;
}

.navigation .login {
  position: relative;
  padding-left: 48px;
}

.navigation .login::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background: url("../img/svg/icon-login.svg") no-repeat 0 0;
}

.navigation .login:hover::before {
  background-image: url("../img/svg/icon-login_active.svg");
}

.about-store .personal {
  margin-left: 50px;
  width: 300px;
}

.personal .name-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #ffffff;
}

.personal .name {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 24px 10px 47px;
  color: #000000;
}

.personal .name:before {
  content: "";

  position: absolute;
  top: 12px;
  left: 14px;

  width: 20px;
  height: 18px;

  background: url("../img/svg/icon-user.svg") no-repeat 0 0;
}

.personal .name:hover:before {
  background: url("../img/svg/icon-user_active.svg") no-repeat 0 0;
}

.personal .name:active {
  opacity: 0.3;
}

.personal .icon-logout {
  margin-left: 12px;

  width: 20px;
  height: 18px;

  background: url("../img/svg/icon-logout.svg") no-repeat 0 0;
}

.personal .icon-logout:hover {
  background: url("../img/svg/icon-logout_active.svg") no-repeat 0 0;
}

.personal .icon-logout:active {
  opacity: 0.3;
}

.personal .personal-navigation {
  margin: 0;
  padding: 7px 0 0 18px;
  list-style-type: none;
}

.personal-navigation li {
  display: inline-block;
  position: relative;
  margin-right: 29px;
  vertical-align: top;
}

.personal-navigation li:before {
  content: "";

  position: absolute;
  top: 50%;
  left: -17px;

  margin-top: -3px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 2px;
}

.personal-navigation li:first-child:before {
  display: none;
}

.personal-navigation .link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-navigation .link:focus,
.personal-navigation .link:hover {
  color: #ee3643;
}

.user .navigation .link:active,
.personal-navigation .link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .site-navigation {
  padding: 0;
  margin: 0;
  margin-top: 38px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #32425c;
  border-bottom: solid 5px #293449;
}

.main-navigation .link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  padding: 19px 31px;
  display: block;

  background-color: #32425c;
}

.main-navigation .link[href]:focus,
.main-navigation .link[href]:hover {
  background-color: #293449;
}

.main-navigation .link[href]:active {
  background-color: #1d2739;
}

.new::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  background: url("../img/new_mark.png") no-repeat 0 0;
  z-index: 9;
}

.stock {
  margin-top: 60px;
}

.stock .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stock .item {
  position: relative;
  color: #ffffff;
  width: 300px;
  margin-right: 20px;
  padding: 21px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: 85% center;
}

.stock .item:last-child {
  margin-right: 0;
}

.stock h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.stock .button {
  display: inline-block;
  width: 135px;
  text-align: center;
  margin-top: 12px;
  vertical-align: top;
}

.stock .bg-color-orange {
  background-color: #ffbf47;
}

.stock .bg-color-blue {
  background-color: #3bbce3;
}

.stock .bg-color-purple {
  background-color: #dc91d8;
}

.stock .bg-color-green {
  background-color: #8ed78f;
}

.stock .bg-img-icon-1 {
  background-image: url("../img/svg/icon-1.svg");
}

.stock .bg-img-icon-2 {
  background-image: url("../img/svg/icon-2.svg");
}

.stock .bg-img-icon-3 {
  background-image: url("../img/svg/icon-3.svg");
}

.stock .bg-img-icon-4 {
  background-image: url("../img/svg/icon-4.svg");
}

.stock .bg-img-icon-5 {
  background-image: url("../img/svg/icon-5.svg");
}

.slider-wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider-wrapper .list {
  width: 300px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.slider-wrapper .item:last-child {
  margin-top: 22px;
}

.slider {
  position: relative;
  color: #ffffff;
  width: 620px;
  height: 266px;

  background-color: rgba(0, 0, 0, 0.25);
}

.slider .slide {
  position: absolute;
  display: none;
}

.slider .active {
  display: block;
}

.slider .slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slide .caption {
  position: absolute;
  left: 25px;
  top: 23px;
  z-index: 2;
}

.slide .button {
  margin: 0;
  position: absolute;
  left: 25px;
  bottom: 30px;
  width: 196px;
  z-index: 3;
}

.slider .arrows {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider .arrow-right {
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 2;
  border: none;
  background-color: transparent;
}

.slider .arrow-right:before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 40px;

  cursor: pointer;

  background: url("../img/svg/icon-left.svg") no-repeat 0 0;
}

.slider .arrow-left {
  position: absolute;
  top: 114px;
  right: 25px;
  z-index: 2;
  border: none;
  background-color: transparent;
}

.slider .arrow-left:before {
  content: "";

  position: absolute;
  top: 0;
  left: -3px;

  width: 23px;
  height: 40px;

  cursor: pointer;

  background: url("../img/svg/icon-right.svg") no-repeat 0 0;
}

.slider .dots {
  padding: 0;
  margin: 0;
  margin-left: -80px;
  list-style-type: none;
  position: absolute;
  bottom: 22px;
  left: 50%;
  width: 160px;
  text-align: center;
  z-index: 2;
}

.dots li {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  margin-right: 6px;
}

.dots li:last-child {
  margin-right: 0;
}

.dots .dot {
  border: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
}

.dots .active {
  background-color: #ee3643;
  border: solid 2px #ffffff;
}

.slider h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide p {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
}

.popular-products {
  margin-top: 53px;
}

.product-list .item {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-list .item:hover .actions {
  display: block;
}

.product-list .actions {
  display: none;
  padding: 42px 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  background-color: #ffffff;
  z-index: 2;
}

.product-list .title {
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
}

.actions .button {
  display: block;
  position: relative;
  width: 135px;
  margin: 0 auto 9px;
}

.actions .button-green {
  padding: 10px 0 7px;
}

.actions .button-green:before {
  content: "";

  position: absolute;
  top: 10px;
  left: 14px;

  width: 15px;
  height: 15px;

  background: url("../img/svg/icon-cart.svg") no-repeat 0 0;

  opacity: 0.3;
}

.actions .button-green:hover:before {
  opacity: 1;
}

.actions .button-border-green {
  padding: 7px 0 6px;
  width: 130px;
}

.product-list .image {
  position: relative;
  width: 218px;
  height: 168px;
}

.product-list .image img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-57%,-50%);
  -ms-transform: translate(-57%,-50%);
  transform: translate(-57%,-50%);
}

.product-list .title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-list .old-price {
  display: block;
  color: #a9a9a9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-list .price-wrapper {
  position: relative;
  height: 38px;
  background: url("../img/svg/red-button.svg") no-repeat center 0;
  margin-bottom: 20px;
}

.product-list .price {
  margin: 0;
  margin-left: -50px;

  position: absolute;
  top: 10px;
  left: 50%;

  width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #ffffff;

  background-color: #ee3643;
}

.item .title + .price-wrapper {
  margin-top: 40px;
}

.tile-section .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #32425c;

  background-color: #f9f5f0;
}

.heading h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px;
}

.heading .button {
  width: 253px;
  text-align: center;
  margin-right: 25px;
}

.tile-section .list {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.tile-section .item {
  border: solid 1px #e4e4e4;
  text-align: center;
}

.tile-section .item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.tile-section-4-col .item {
  width: 218px;
  margin: 10px;
}

.tile-section-4-col .item:nth-child(4n-3) {
  margin-left: 0;
}

.tile-section-4-col .item:nth-child(4n) {
  margin-right: 0;
}

.manufacturers {
  padding-bottom: 65px;
}

.manufacturers .item {
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.manufacturers .item a {
  display: block;
  line-height: 0;
  margin: auto;
}

.manufacturers .item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers .item:active a {
  opacity: 0.3;
}

.description-section {
  padding-top: 42px;
  padding-bottom: 105px;
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f4f8f9;
}

.description-section h2,
.tabs-content h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.description-section h2 {
  margin-bottom: 30px;
}

.tabs-content h3 {
  color: #32425c;
  font-size: 36px;
  margin-top: 3px;
  margin-bottom: 30px;
}

.description-section p {
  line-height: 24px;
  margin: 0;
}

.services .tabs-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.services .tabs-content {
  list-style-type: none;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 0;
  padding-left: 20px;
  width: 620px;
}

.services .tabs {
  margin: 0;
  padding: 0;
  width: 240px;
  position: relative;
  list-style-type: none;
}

.services .tabs:after {
  content: "";

  position: absolute;
  top: -40px;
  right: 0;

  width: 10px;
  height: 280px;

  background: url("../img/tabs-shadow.png") no-repeat 0 0;
}

.services .tab {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  cursor: pointer;

  background-color: #32425c;
  border: none;
  border-bottom: solid 1px #4d637b;

  padding: 15px 23px 20px;
  text-align: left;
}

.tabs li:last-child .tab {
  border-bottom: none;
}

.services .tab:focus,
.services .tab:hover {
  color: #ffffff;

  background-color: #293449;
}

.tabs .active {
  color: #32425c;

  background-color: #ffffff;
}

.services .tab-content {
  display: none;
  width: 375px;
}

.tabs-content .active {
  display: block;
}

.tabs-content .bg-img-delivery:before {
  content: "";

  position: absolute;
  top: 20px;
  right: 0;

  width: 468px;
  height: 261px;

  background: url("../img/delivery.png") no-repeat 0 0;
}

.tabs-content .bg-img-guarantee:before {
  content: "";

  position: absolute;
  top: 0;
  right: -10px;

  width: 389px;
  height: 283px;

  background: url("../img/guarantee.png") no-repeat 0 0;
}

.tabs-content .bg-img-credit:before {
  content: "";

  position: absolute;
  top: 0;
  right: -10px;

  width: 465px;
  height: 285px;

  background: url("../img/credit.png") no-repeat 0 0;
}

.tab-content .button {
  display: inline-block;
  text-align: center;
  width: 195px;
  margin-top: 30px;
  vertical-align: top;
}

.about {
  font-family: "PT Sans", Arial, sans-serif;
}

.about-wrapper {
  padding-top: 80px;
  padding-bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-wrapper .about{
  width: 540px;
}

.about-wrapper .contacts {
  width: 300px;
}

.contacts h2,
.about h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.about p {
  margin: 0;
}

.about p:first-of-type {
  margin: 22px 0;
}

.about ul {
  list-style-type: none;
  padding: 0;
  margin: 22px 0 34px;
}

.about li {
  padding-left: 37px;
  position: relative;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}

.about li:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about .button {
  display: inline-block;
  text-align: center;
  width: 220px;
  vertical-align: top;
}

.contacts p {
  margin: 0;
}

.contacts .mini-map {
  margin-top: 30px;
  margin-bottom: 32px;
}

.contacts .button {
  text-align: center;
  display: block;
}

.main-footer {
  color: #f3f7f9;

  background-color: #32425c;
}

.main-footer .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 49px;
}

.main-footer .contacts {
  width: 330px;
}

.main-footer .sitemap {
  width: 550px;
}

.main-footer .logo {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 17px 41px;
  vertical-align: top;
}

.main-footer .address {
  margin-top: 32px;
  font-size: 18px;
}

.main-footer .site-navigation,
.main-footer .categories-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-footer .site-navigation {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer .categories-navigation {
  padding-left: 25px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer .sitemap a {
  font-size: 18px;
  color: #f3f7f9;
}

.main-footer .sitemap a:focus,
.main-footer .sitemap a:hover {
  text-decoration: underline;
}

.main-footer .sitemap a:active {
  opacity: 0.5;
}

.main-footer .categories-navigation a {
  color: #ffd180;
}

.main-footer .bottom {
  font-size: 16px;

  background-color: #293449;
}

.bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 38px 0;
}

.bottom .copyright {
  width: 230px;
  margin: 0;
  line-height: 18px;
}

.bottom .author,
.bottom .callback {
  line-height: 18px;
  margin: 0;
}

.main-footer .bottom a {
  color: #ffd180;
}

.main-footer .bottom a:focus,
.main-footer .bottom a:hover {
  text-decoration: underline;
}

.main-footer .bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.main-footer .social-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 160px;
  display: inline-block;
  vertical-align: top;
}

.social-buttons li {
  display: inline-block;
  vertical-align: top;
}

.social-buttons a {
  position: relative;
  display: block;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  background-color: #212a3a;
}

.social-buttons .icon-vk:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 26px;
  height: 15px;

  margin-top: -7px;
  margin-left: -13px;

  background: url("../img/svg/icon-vk.svg") no-repeat 0 0;
}

.social-buttons .icon-fb:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  height: 22px;
  width: 12px;

  margin-top: -11px;
  margin-left: -6px;

  background: url("../img/svg/icon-fb.svg") no-repeat 0 0;
}

.social-buttons .icon-insta:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  height: 21px;
  width: 21px;

  margin-top: -10px;
  margin-left: -10px;

  background: url("../img/svg/icon-insta.svg") no-repeat 0 0;
}

.main-footer .social-buttons a:hover,
.main-footer .social-buttons a:focus,
.main-footer .social-buttons a:active {
  background-color: #ee3643;
}

.main-footer .callback {
  margin-left: 123px;
  width: 140px;
}

.main-footer .author {
  margin-left: 48px;
  width: 105px;
}

.modal {
  position: fixed;
  display: none;
  top: 10%;
  z-index: 99;
  -webkit-box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
  border-top: solid 7px #ff5257;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal .modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
  z-index: 9;
}

.modal .modal-close::before,
.modal .modal-close::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 23px;
  height: 4px;

  background-color: #ee3643;
  border-radius: 2px;
}

.modal .modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal .modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal .modal-footer {
  background-color: #f4f4f4;
}

.modal-map {
  border-top: none;
  line-height: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map .image-map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-cart,
.modal-callback {
  width: 620px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -310px;
}

.modal-callback .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-body {
  padding: 37px 80px;
}

.modal-footer {
  padding: 37px 80px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-footer .button {
  display: block;
  width: 100%;
  text-align: center;
}

.modal-footer .button + .button {
  margin-left: 20px;
}

.callback-form p {
  margin: 0;
  width: 220px;
}

.callback-form .message-field {
  margin-top: 20px;
  width: 100%;
}

.callback-form label {
  font-size: 18px;
}

.callback-form textarea,
.callback-form input {
  font-family: "PT Sans", Arial, sans-serif;
  width: 188px;
  padding: 10px 14px;

  border: solid 2px #dee3e4;
  border-radius: 2px;
}

.callback-form input::-webkit-input-placeholder {
  color: #a9a9a9;
}

.callback-form input:-ms-input-placeholder {
  color: #a9a9a9;
}

.callback-form input::-ms-input-placeholder {
  color: #a9a9a9;
}

.callback-form input::placeholder {
  color: #a9a9a9;
}

.callback-form textarea {
  resize: none;
  width: 428px;
}

.modal-cart .icon-accept:before {
  content: "";
  position: absolute;
  top: 40px;
  display: block;
  width: 66px;
  height: 66px;
  background: url("../img/svg/form-1.svg") no-repeat 0 0;
}

.modal-cart h2 {
  padding-left: 100px;
}

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 17px 0;
}

.breadcrumbs .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs .list li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs .icon-home {
  width: 15px;
  height: 24px;
  background: url("../img/svg/icon-home.svg") no-repeat 0 center;
}

.breadcrumbs .link {
  position: relative;
  display: block;
  color: #000000;
  margin-right: 37px;
}

.breadcrumbs .link:after {
  content: "";

  position: absolute;
  top: 50%;
  right: -25px;

  margin-top: -7px;

  width: 8px;
  height: 12px;

  background: url("../img/svg/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs li:last-child .link:after {
  display: none;
}

.products h1 {
  margin: 0;
  padding: 29px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.inner-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.inner-page-container .aside {
  width: 220px;
}

.inner-page-container .content {
  margin-left: 20px;
  width: 700px;
}

.products .filter {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.products h2 {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filter h2 {
  padding: 11px 20px;
  border-radius: 2px;
}

.filter legend {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding: 13px 0;
}

.filter-price legend {
  display: block;
}

.products ul {
  list-style-type: none;
}

.filter .range {
  position: relative;
  height: 80px;
  margin: 0 0 10px;
  padding: 0 21px 0 30px;
  background: #f7f3ec;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.range .scale {
  height: 2px;
  margin-top: 39px;
  background-color: #d7dcde;
}

.range .bar {
  width: 87%;
  height: 2px;
  background-color: #00ca74;
}

.range .filter-button {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 20px;
  height: 23px;
  border: none;
  background: url("../img/svg/filter-button.svg") no-repeat 0 0;
  cursor: pointer;
}

.range .max {
  left: 160px;
}

.filter-price .price {
  padding-bottom: 23px;
}

.price input {
  width: 89px;
  padding: 9px 0 11px 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-label + .price-separator {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 30px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: solid 1px #e5e5e5;
}

.filter-manufacturers legend,
.filter-supply legend {
  padding: 16px 0;
}

.filter fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 58px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.list-supply label,
.list-manufacturers label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
}

.filter-input-checkbox[type=checkbox] + .checkbox-indicator:before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 26px;
  height: 26px;

  background: url("../img/svg/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.6;
}

.filter-input-checkbox[type=checkbox]:checked + .checkbox-indicator:before{
  background: url("../img/svg/checkbox-on.svg") no-repeat 0 0;
}

.filter-input-radio[type=radio] + .radio-indicator:before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 26px;
  height: 26px;

  background: url("../img/svg/radio-off.svg") no-repeat 0 0;
  opacity: 0.6;
}

.filter-input-radio[type=radio]:checked + .radio-indicator:before {
  background: url("../img/svg/radio-on.svg") no-repeat 0 0;
}

.filter-input:hover + .checkbox-indicator:before,
.filter-input:focus + .checkbox-indicator:before,
.filter-input:hover + .radio-indicator:before,
.filter-input:focus + .radio-indicator:before {
  opacity: 1;
}

.filter-input:disabled + label{
  opacity: 0.3;
}

.filter-form .button {
  width: 140px;
}

.products .sorting {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 18px;

  background-color: #f7f3ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 20px;
  border-radius: 2px;
}

.sorting h2 {
  font-size: 13px;
  font-weight: 400;
}

.sorting .sorting-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 140px;
  width: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting .sorting-direction {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting .parameter {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #ee3643;
}

.sorting .parameter:focus,
.sorting .parameter:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: solid 1px #ee3643;
}

.sorting .parameter:active {
  color: #ee3643;
  border-bottom: none;
}

.parameter.icon-up-dir {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 4px;
  margin-left: 2px;
  background: url("../img/svg/icon-up-dir.svg") no-repeat 0 bottom;
  opacity: 0.3;
  border: none;
}

.parameter.icon-down-dir {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 4px;
  margin-right: -2px;
  background: url("../img/svg/icon-down-dir.svg") no-repeat 0 bottom;
  opacity: 0.3;
  border: none;
}

.parameter.icon-down-dir:hover,
.parameter.icon-down-dir:focus,
.parameter.icon-up-dir:hover,
.parameter.icon-up-dir:focus {
  opacity: 1;
  border: none;
}

.icon-up-dir:active,
.icon-up-dir.active {
  background-image: url("../img/svg/icon-up-dir_active.svg");
  opacity: 1;
}

.icon-down-dir:active,
.icon-down-dir.active {
  background-image: url("../img/svg/icon-down-dir_active.svg");
  opacity: 1;
}

.products .sorting .active {
  color: #ee3643;
  border-bottom: none;
}

.tile-section-3-col .item {
  width: 218px;
  margin: 10px;
}

.tile-section-3-col .item:nth-child(3n-2) {
  margin-left: 0;
}

.tile-section-3-col .item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  margin: 41px 0 60px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination a {
  line-height: 18px;
  text-align: center;
  display: block;
  padding: 9px 15px;
  margin-right: 6px;
}

.pagination li:last-child a {
  padding-right: 30px;
  padding-left: 30px;
}

.pagination .active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.about-product {
  padding-bottom: 68px;
}

.modal-cart h2 {
  font-size: 30px;
  font-weight: 400;
}

.modal-cart .button-close {
  color: #000000;

  background-color: #ffffff;
}
